<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- A simple bean definition -->
    <context:annotation-config> </context:annotation-config>

<bean id="actobj" class="com.stackroute.domain.Actor">
    <constructor-arg name="name" value="Leonardo"/>
    <constructor-arg name="age" value="30"/>
    <constructor-arg name="gender" value="male"/>
</bean>


    <bean id="actor2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="bale"/>
        <constructor-arg name="age" value="35"/>
        <constructor-arg name="gender" value="male"/>
    </bean>

<bean id="mov1" class="com.stackroute.domain.Movie" autowire ="byName"></bean>

    <bean id="mov3" class="com.stackroute.domain.Movie" >
        <constructor-arg name="act2" ref="actor2">

        </constructor-arg>
    </bean>


</beans>